<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BearBrand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{205,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,414}}</string>
                <key>sourceSize</key>
                <string>{205,414}</string>
            </dict>
            <key>Bear_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,128},{124,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,112}}</string>
                <key>sourceSize</key>
                <string>{124,112}</string>
            </dict>
            <key>Bear_O.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,418},{152,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,154}}</string>
                <key>sourceSize</key>
                <string>{152,154}</string>
            </dict>
            <key>Bear_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,2},{124,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,112}}</string>
                <key>sourceSize</key>
                <string>{124,112}</string>
            </dict>
            <key>Bear_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,418},{157,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,162}}</string>
                <key>sourceSize</key>
                <string>{157,162}</string>
            </dict>
            <key>Bear_false.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{585,824}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,824}}</string>
                <key>sourceSize</key>
                <string>{585,824}</string>
            </dict>
            <key>Bear_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{584,824}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,824}}</string>
                <key>sourceSize</key>
                <string>{584,824}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bear.png</string>
            <key>size</key>
            <string>{1975,589}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e314fc0671d79c81b305fdcca4d5dd45$</string>
            <key>textureFileName</key>
            <string>Bear.png</string>
        </dict>
    </dict>
</plist>
