<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>雲-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1327,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1327,616}}</string>
                <key>sourceSize</key>
                <string>{1327,616}</string>
            </dict>
            <key>雲-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,620},{312,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,185}}</string>
                <key>sourceSize</key>
                <string>{312,185}</string>
            </dict>
            <key>雲-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,620},{314,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,194}}</string>
                <key>sourceSize</key>
                <string>{314,194}</string>
            </dict>
            <key>雲-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{796,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{796,502}}</string>
                <key>sourceSize</key>
                <string>{796,502}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cloud.png</string>
            <key>size</key>
            <string>{1835,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2501b30743a8343eae491060e1130853$</string>
            <key>textureFileName</key>
            <string>Cloud.png</string>
        </dict>
    </dict>
</plist>
