<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Station_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>Station_Q&amp;A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>Station_Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>Station_WaitRad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MapPoint.png</string>
            <key>size</key>
            <string>{48,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:804153de12cfbdd8e5d548727b22791a$</string>
            <key>textureFileName</key>
            <string>MapPoint.png</string>
        </dict>
    </dict>
</plist>
