<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Station_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{89,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,68}}</string>
                <key>sourceSize</key>
                <string>{89,68}</string>
            </dict>
            <key>Station_Q&amp;A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{89,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,68}}</string>
                <key>sourceSize</key>
                <string>{89,68}</string>
            </dict>
            <key>Station_Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,68}}</string>
                <key>sourceSize</key>
                <string>{90,68}</string>
            </dict>
            <key>Station_WaitRad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{89,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,73}}</string>
                <key>sourceSize</key>
                <string>{89,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MapPoint.png</string>
            <key>size</key>
            <string>{94,287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e611f063b920381998e9a1130a86f4f$</string>
            <key>textureFileName</key>
            <string>MapPoint.png</string>
        </dict>
    </dict>
</plist>
