<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SoundClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,53}}</string>
                <key>sourceSize</key>
                <string>{73,53}</string>
            </dict>
            <key>SoundOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{66,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,53}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Setting.png</string>
            <key>size</key>
            <string>{145,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42cf586b89e86665e62dcd82551f6e00$</string>
            <key>textureFileName</key>
            <string>Setting.png</string>
        </dict>
    </dict>
</plist>
