<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TrainInfo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1306},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1306},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,654},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,654},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TrainInfo1.png</string>
            <key>size</key>
            <string>{1688,1958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:919767756541b6c2ca82e8f0115c2602$</string>
            <key>textureFileName</key>
            <string>TrainInfo1.png</string>
        </dict>
    </dict>
</plist>
