<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TrainInfo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1306},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,654},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
            <key>TrainInfo_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,650}}</string>
                <key>sourceSize</key>
                <string>{560,650}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TrainInfo2.png</string>
            <key>size</key>
            <string>{1126,1958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40af8300f3d478fe6165b67fa07f8e1c$</string>
            <key>textureFileName</key>
            <string>TrainInfo2.png</string>
        </dict>
    </dict>
</plist>
